body {
    background-image: url("../img/Body.jpg");
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 2.5fr 0.01fr;
    grid-template-areas: "header"
                        "main"
                       "footer";
}

header {
    grid-area: header;
    text-align: center;
    text-transform: uppercase;
    background-color: lightskyblue;
}

footer {
    grid-area: footer;
}

main {
    grid-area: main;
}

#Title {
    font-size: 4em;
    font-family: fantasy;
}

h2 {
    font-size: 2em;
    font-weight: bolder;
}

#para {
    font-size: 1.5em;
    margin-left: 20px;
}

.btn {
    background-color: rgb(93, 179, 230);
    font-size: 1.5em;
    margin-left: 10px; 
}

.btn:active , .btn:hover:enabled{
    background-color: royalblue;
}

#reponseArea {
    border-style: solid;
    height: 110px;
}

#qstheme{
    font-size: 2.5em; 
}

.instruction{
    font-size: 1.7em;
}

.proposition{
    font-size: 2em;
}

.proposition:hover{
    background-color: rgb(93, 179, 230);
}

#phrase{
    font-size: 1.6em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#accueil{
    margin-left: 280px;
   margin-top: 180px;
}

#select{
    border-radius:1em ;
}

#correct{
    background-color: chartreuse;
}

#incorrect{
    background-color: rgb(235, 98, 98);
}
